@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Karla:ital,wght@0,200..800;1,200..800&family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('images/bg-desktop.png'), url('images/bg-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Raleway", sans-serif;
  /* display: flex;
  justify-content: center; */
  /* height: 100vh; */
  width: 100%;
}

section {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  margin: 35vh auto;
  align-items: end;
}

.fylo {
  width: 280px;
  height: 170px;
  background-color: hsl(228, 56%, 26%);
  border-radius: 0px 65px 0px 0px;
  margin-left: 30px;
  margin-top: 1px;
  color: white;
  display: flex;
  flex-direction: column;
}

h3 {
  font-weight: 700;
  font-size: 30px;
}

.fol img {
  background-color: black;
  width: 20px;
  height: 20px;
  padding: 10px;
  border-radius: 10px;
}

.fylo-1 {
  /* display: flex; */
  /* margin-top: -10px; */
  margin-left: 20px;
  /* column-gap: 10px; */
  margin-top: 20px;
}


.fol {
  margin-top: 19px;
  display: flex;
  column-gap: 10px;
  /* justify-content: space-evenly; */
  margin-left: 18px;

}

.mac {
  width: 32vw;
  height: 10vh;
  /* background-color: blue; */
  background-color: hsl(228, 56%, 26%);
  border-radius: 10px;
  color: white;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 30px;
  margin-top: 35px;
  
  position: relative;
  /* margin: 300px auto; */

}

.goo {
  /* color: hsl(229, 7%, 55%);
  border-radius: 20px 20px 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: absolute;
  bottom: 170px;
  left: 300px; */
}

.goo p {
  color: hsl(229, 57%, 11%);
  font-size: 20px;
  font-weight: 700;
}

.goo span {
  font-size: 14px;
  font-weight: 400;
  color: hsl(243, 100%, 93%);
  /* margin-top: -10px; */
} */

.mac p {
  margin-left: -10px;
  /* margin-top: 20px; */
}

.far {
  width: 100%;
  border: 0;
  border-radius: 10px;
  background-color: hsl(229, 57%, 11%);
  position: relative;
  
  /* margin-top: 30px; */
}

p {
  /* margin-top: 20px; */
}

.from {
  width: 81.5%;
  border: 0;
  border-radius: 10px;
  /* background-color: yellow; */
  position: absolute;
  left: 0;
  /* right: 32px; */
  margin-top: 1px;
  margin-left: 20px;
  background-color: hsl(6, 100%, 80%);
}

h6 {
  margin-left: -10px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}
h6 span{
  /* margin-left: 330px; */
}

.talk-bubble {
	margin: 40px;
  display: inline-block;
  display: block;
  position: absolute;
  /* top: -40px; */
  bottom: 70px;
  /* right: 40px; */
  right: -10px;
	width: 160px;
	height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
	background-color: white;
  /* background-color: yellow; */
}

.round{
  border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;

}
.talktext{
  padding: 1em;
	text-align: left;
  line-height: 1.5em;
}
.talktext p{
  color: hsl(229, 57%, 11%);
  font-size: 20px;
  font-weight: 700;
}

.talktext span{
  font-size: 14px;
  font-weight: bold;
  color: hsl(243, 100%, 93%);
}
/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -8px;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 0px;
	bottom: -12px;
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}

.attribution {
  text-align: center;
}


